body {
  background-color: #ffa902;
}
.container {
  border-radius: 20px 20px 0 0;
  background-image: url("/Users/bilgekose/code/travel-blog/public/header.png");
  height: 442px;
}
.header {
  display: flex;
  justify-content: space-around;
}
.search {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  padding: 5px 10px;
  width: 350px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.title,
.search,
.social-media-icons {
  margin: 20px 0;
}

.title {
  font-family: "Montserrat", serif;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  color: white;
}
.title span {
  color: #ffa902;
}

.search-icon {
  color: #aaa;
  font-size: 18px;
  margin-right: 10px;
}

.search-input {
  border: none;
  outline: none;
  font-size: 16px;
  flex: 1;
}

.header {
  display: flex;
}
.social-media-icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  color: rgb(139, 139, 139);
}
